*{
 
  margin: 0;
}
:root{
  /* Colores*/
  --pink: #fc758c;
  --menta: #00C6AE;
  --yellow-green: #eec210;
  --yellow: #fbbc05;
  --soft-orange: #ffe9d5;
  --blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --red: #F95A2C;
  --warm-black: #201e1c;
  --black: #282623;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #fff;
  --dark-blue: #081319;
  --violet:#800F3B;

}


body{
  margin: 0;
  padding: 0;
  font-family: 'Questrial', sans-serif;
}




@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/Flaticon.woff") format("woff"), url("../fonts/Flaticon.ttf") format("truetype"), url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}
[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
  margin-left: 20px;
}
@font-face {
  font-family: 'icono_estrellita_vacia';
  src: url("../fonts/icomoon.eot?n253df");
  src: url("../fonts/icomoon.eot?n253df#iefix") format('embedded-opentype'), url("../fonts/icomoon.ttf?n253df") format('truetype'), url("../fonts/icomoon.woff?n253df") format('woff'), url("../fonts/icomoon.svg?n253df#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icono_estrellita_llena';
  src: url("../fonts/estrellallena.eot?az4rfq");
  src: url("../fonts/estrellallena.eot?az4rfq#iefix") format('embedded-opentype'), url("../fonts/estrellallena.ttf?az4rfq") format('truetype'), url("../fonts/estrellallena.woff?az4rfq") format('woff'), url("../fonts/estrellallena.svg?az4rfq#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'googleicon';
  src: url("../fonts/googleicon.eot?9927647");
  src: url("../fonts/googleicon.eot?9927647#iefix") format('embedded-opentype'), url("../fonts/googleicon.woff?9927647") format('woff'), url("../fonts/googleicon.ttf?9927647") format('truetype'), url("../fonts/googleicon.svg?9927647#googleicon") format('svg');
  font-weight: normal;
  font-style: normal;
}
.btnPpal {
  font-family: inherit;
  font-weight: bold;
  border-radius: var(--warm-black);
  border: black solid 2px;
  border-radius: 15px 15px 0px 15px;
  background-color:var(--pink);
  
  transition: 0.5s;
}
.btnPpal:hover {
  
  color: #fff;
  font-size: 17px;
  
}

.headerppal {
  background: var(--just-white);
  overflow: hidden;
  padding-bottom: 30px;
  text-align: center;
  height: 100px;
  
}


.headerppal .header-avatar {
  display: block;
  float: right;
  margin-top: -200px;
  margin-right: 50px;
}
.headerppal .header-avatar img {
  border-radius: 60%;
  height: 100px;
  width: 100px;
  transition: 0.6s;
  transform: translateY(100px);
  background-color: yellowgreen;
}
.menu {
  display: block;
  justify-content: center;
  background: var(--just-white);
  box-shadow: 0 8px 10px rgba(0,0,0,0.5);
  height: 100px;
}
.menu ul {
  margin: 0px;
}
.menu ul li {
  display: block;
  line-height: 40px;
  transition: 0.6s;
  
}
.menu ul li:hover {
  background-color var(--pink);
    
}
.menu ul li a {
  color: var(--warm-black);
  text-decoration: none;
  padding: 0 1em;
  transition: 0.6s;
  background-color var(--pink);
}
.menu ul li a:hover {
  font-size: 17px;
  text-decoration: none;
  background-color var(--pink);
}
.img_welcome{
  margin-top: 200px;
}
.img_welcome2{
 display: none;
}
.banner_welcome{
  
  width: 90%;
  display: flex;
  justify-content: center;
  background-color: var(--pink);
  margin-left: 75px;
  padding: 10px;
  

}

.banner_welcome2{

  color: var(--warm-black);
  width: 450px;
  height: 250px;
  background-color: var(--just-white);
  padding: 10px;
  border-radius: 20px 20px 0px 20px;
  border: solid 2px var(--dark-blue);
  margin-left: 25px;
  
  
}
.banner_welcome2:hover{
  transform: scale(0.95);
}
.banner_welcome2 h3{
  font-family: inherit;
  font-size: 45px;
  font-weight: bold;
  display: flex;
  text-align: center;
  margin-top: 50px;
}
.banner_welcome2 p{
  display: flex;
  justify-content: center;
  color: var(--warm-black);
  font-weight: bold;

}

.footer {
  display: flex;
  justify-content: center;
  height: 100px;
  
}

.footer .contenedor-footer .redesSociales .realizadopor {
  color: var(--warm-black);
  font-weight: bold;
  
}
.footer .contenedor-footer .redesSociales .realizadoclase {
  padding-bottom: 30px;
}
.footer .contenedor-footer .redesSociales p {
  color: #fff;
  text-align: center;
  margin: 10px;
}
.footer .contenedor-footer .redesSociales .logos-redes {
  text-align: center;
}
.footer .contenedor-footer .redesSociales .logos-redes a {
  text-decoration: none;
}
.footer .contenedor-footer .redesSociales .logos-redes .logo-facebook:before {
  color: var(--pink);
  content: "\f101";
  font-size: 30px;
  font-family: "Flaticon";
}
.footer .contenedor-footer .redesSociales .logos-redes .logo-twitter:before {
  color: var(--pink);
  content: "\f102";
  font-size: 30px;
  font-family: "Flaticon";
}
.footer .contenedor-footer .redesSociales .logos-redes .logo-github:before {
  color: var(--pink);
  content: "\f100";
  font-size: 30px;
  font-family: "Flaticon";
}
.posts {
  padding: 0.8em;
  margin: 0px;
  text-align: center;
}
.posts .post {
  background: #fff;
  border: 1px solid #000;
  box-shadow: 10px 9px 25px -1px rgba(0,0,0,0.75);
  display: block;
  margin-bottom: 1.5em;
  margin-right: 1.5em;
  width: 100%;
}
.posts .post .post-calificacion {
  text-align: center;
  padding: 0.5em;
}
.posts .post .post-calificacion .post-estrellita-vacia {
  text-decoration: none;
}
.posts .post .post-calificacion .post-estrellita-vacia:before {
  color: #7acc2d;
  content: "\e9d7";
  font-family: "icono_estrellita_vacia";
}
.posts .post .post-calificacion .post-estrellita-llena {
  text-decoration: none;
}
.posts .post .post-calificacion .post-estrellita-llena:before {
  color: #7acc2d;
  content: "\e9d9";
  font-family: "icono_estrellita_llena";
}
.posts .post .post-titulo {
  text-align: center;
  background: #eee;
  font-family: 'Montserrat', sans-serif;
  padding: 0.5em;
}
.posts .post .post-titulo h5 {
  font-weight: bold;
}
.posts .post .post-video {
  text-align: center;
  padding: 0 0.5em;
}
.posts .post .post-video iframe {
  width: 100%;
  height: 300px;
}
.posts .post .post-video .post-imagen-video {
  width: 100%;
  height: 300px;
}
.posts .post .post-descripcion {
  text-align: center;
  background: #eee;
  font-family: 'Allerta', sans-serif;
  padding: 0.5em;
  font-size: 17px;
}
.posts .post .post-videolink {
  text-align: center;
  background: #126798;
  color: #fff;
  font-family: 'Allerta', sans-serif;
  padding: 0.5em;
  font-size: 17px;
}
.posts .post .post-videolink a {
  color: #fff;
  text-decoration: underline;
}
.posts .post .post-footer {
  background: #126798;
  color: #fff;
  font-size: 17px;
  padding-bottom: 0.5em;
  padding-top: 1em;
  padding-left: 0.5em;
  text-align: left;
  width: 100%;
}
.modal-registro {
  width: 80%;
}
.registro-bienvenida {
  text-align: center;
  width: 100%;
}
.registro-bienvenida h4 {
  color: var(--warm-black);
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.registro-bienvenida .registro-bienvenida-texto {
  display: block;
  color: var(--warm-black);
  margin-bottom: 1em;
  font-size: 1em;
  text-align: center;
}
.registro-bienvenida span {
  color: #7acc2d;
  font-size: 1.2em;
  font-weight: bold;
}
.registro-formulario {
  border-left: 0.3em solid var(--warm-black);
}
.registro-formulario div {
  margin: 0;
}
.registro-formulario label {
  color: var(--warm-black);
  font-size: 1em;
}
.registro-formulario a {
  margin-top: 2em;
  text-align: center;
  width: 80%;
}
.registro-formulario .div-btnInicioSesion {
  text-align: center;
}
.registro-formulario .div-btnInicioSesion a {
  background-color: var(--warm-black);
}
.registro-formulario .lbl-ingresar-redes {
  color: var(--warm-black);
  font-weight: bold;
  padding-top: 1em;
  text-align: center;
}
.registro-formulario .registro-iconos-redes {
  
  text-align: center;
}
.registro-formulario .registro-iconos-redes .logo-facebook:before {
  color: var(--warm-black);
  content: "\f101";
  font-size: 40px;
  font-family: "Flaticon";
}
.registro-formulario .registro-iconos-redes .logo-google {
  margin-left: 1em;
}
.registro-formulario .registro-iconos-redes .logo-google:before {
  color: var(--warm-black);
  content: "\f2b3";
  font-size: 45px;
  font-family: "googleicon";
}
.registro-formulario .registro-iconos-redes .logo-twitter {
  margin-left: 1em;
}
.registro-formulario .registro-iconos-redes .logo-twitter:before {
  color: var(--warm-black);
  content: "\f102";
  font-size: 40px;
  font-family: "Flaticon";
}
.div-btnRegistrarse {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 0em;
}
.div-btnRegistrarse a {
  background: var(--warm-black);
}
.titulo-posts {
  color: var(--warm-black);
  font-weight: bold;
  text-align: center;
}
#btnUploadFile {
  background: var(--warm-black);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  transition: 0.5s;
  margin-bottom: 1em;
  margin-top: 1em;
}


/* Search button */

 .main_search{
  width: 230px;
  margin: 0 auto;
  
}

.main_search input{
  width: 250px;
  height: 30px;
  box-shadow: none;
  border: none;
  outline: none;
  border-radius: 100px;
  background-color: rgba(252, 117, 140, 0.25);
  padding: 5px; 
}
.main_search input::placeholder{
 color: rgba(0, 0, 24, 0.9);
}
.main_search input:hover {
  box-shadow: 0 2px 6px 0 #20212447;
  border-color: #dfe1e500;
}


/* PRODUCT CONTAINER */
.icon--3{
  color: red;
}
.product__container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 25px;
  margin-left: 10px;
  
  
}
.product__details{
  width: 100%;
  max-width: 250px;
  height: 220px;
  padding: 10px;
  margin-right: 20px;
  margin-bottom: 50px;
  background-color: var(--warm-black);
  border-radius: 20px 20px 20px 0px;
}
.product__container .product__details h3{
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 18px;
  text-align: left;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 5px;
  color: var(--just-white);
}
.product__container .product__details p{
  font-size: 1rem;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: var(--just-white);
}
.product__details:hover{
  
  transform: scale(0.95);
}
/* Cards */
.Plans, .Plans H3{
  width: 100%;
  min-width: 320px;
  padding-bottom: 70px;
  text-align: center;
  margin-top: 50px;
  font-weight: bold;

}

.plans-container-slider{
  display: flex;
  height: 316px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  box-sizing: none;
    
}
.plans-cards{
  scroll-snap-align: center;
  width: 70%;
  min-width: 200px;
  max-width: 250px;
  height: 250px;
  padding: 20px;
  background-color: var(--off-white);
  border-radius: 10px;
  position: relative;
  margin: 20px 20px;
  
}
.recomendado{
  position: absolute;
  width: 130px;
  height: 31px;
  top: -15px;
  left: calc(50% - 60px);
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.4rem;
  padding: 7px;
  background-color: var(--pink);
  border-radius: 8px;
  color: var(--warm-black);
 
}
.plan-card--title{
  padding-top: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--black);
  margin-left: 12px;
  margin-bottom: 10px;
  
}
.plan-card--price{
  padding: 5px 0;
  font-size: 4.2rem;
  font-weight: bold;
  line-height: 6.2rem;
  color: var(--black);
  font-family: 'Inter', sans-serif;
}

.icon--4 img{
  width: 20px;
  height: 15px;
  background-repeat: no-repeat;
  vertical-align: text-top;;
 
}
.plan-card-saving{
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1rem;
  text-align: center;
  color: #757575;
  padding: 10px;

}
.plan-card--ca{
  width: 151px;
  height: 30px;
  top: 2792px;
  left: 85px;
  border-radius: 4px;
  padding: 12 16;
  border: solid;
  border-color: var(--black);
  background-color: var(--pink);

}
.plan-card--ca p{
  font-weight: bold;
  font-size: 1rem;
  color: var(--black);
  line-height: 1.8rem;
  text-align: left;
  margin-left: 20px;
}
.plan-card--ca p .vector{
  display: inline-flex;
  width: 20px;
  height: 14px;
  background-image: url(/Assets/icons/orange-right-arrow.svg);
  background-position: right;
  background-repeat: no-repeat;
  position: absolute;
  padding: 5px;
  margin: 2px 5px 5px 10px ;
}
/* Grilla */
.container{
  width: 100%;
  
}
.container__collection{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  
}
  
.div1 {
  background-color: pink;
  grid-area: 1 / 2 / 3 / 3; 
  cursor: pointer;
}
.div2 { 
  grid-area: 3 / 2 / 6 / 3; 
  background-color: pink;
  cursor: pointer;
  display: flex;
  align-content: center;
  justify-content: start;
}
.div3 { 
  grid-area: 1 / 3 / 3 / 4; 
  background-color: pink;
  cursor: pointer;
}
.div4 { 
  grid-area: 1 / 4 / 4 / 5; 
  background-color: pink;
  cursor: pointer;
}
.div5 { 
  grid-area: 3 / 3 / 6 / 4; 
  background-color: pink;
  cursor: pointer;
}
.div6 { 
  grid-area: 4 / 4 / 6 / 5; 
  background-color: pink;
  cursor: pointer;
}


